@model SistemaVentas.Web.ViewModels.ProductoViewModel


@{
    ViewData["Title"] = "Editar Producto";
}

<h2 class="mt-4">Editar Producto</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> <!-- falta agregar -->
            <input type="hidden" asp-for="IdProducto" />

            <div class="form-group">
                <label asp-for="Descripcion" class="control-label">Descripción:</label>
                <input asp-for="Descripcion" class="form-control" />
                <!-- Mensajes de validación -->
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Precio" class="control-label">Precio:</label>
                <input asp-for="Precio" class="form-control" type="number" />
                <!-- Mensajes de validación -->
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }

    </div>
</div>

<!-- falta agregar -->


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
   <script>
        // Le dice a jQuery Validation que ignore la regla 'number'
        // que es la que produce el error de la coma.
        jQuery.validator.setDefaults({
            rules: {
                number: {
                    required: false // Deshabilita el chequeo de tipo 'number' en el Front-End
                }
            }
        });
    </script>      
}